service: hello-world


frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221
  region: eu-south-1

functions:
  coloreCavalloNapoleone:
    handler: handler.coloreCavalloNapoleone
    events:
      - http:
          path: coloreCavalloNapoleone
          method: get

plugins:
  - serverless-mocha-plugin
