name: Deploy Lambda function

on: push

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:

    - name: Set up Git repository
      uses: actions/checkout@v2

    - name: Install Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: Install Mocha for Test
      run: npm install --save-dev serverless-mocha-plugin

    - name: Test Lambda function
      uses: serverless/github-action@master
      with:
        args: invoke test
    
    - name: Deploy function
      uses: serverless/github-action@master
      with:
        args: deploy -s ${STAGE}
      env:
        # SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        # or if using AWS credentials directly
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        STAGE: ${GITHUB_REF##*/}


  
